@media {
    body {
        font-family: Arial;
        margin: 0;
    }

    form {
        margin: 0;
    }

    input[type="text"] {
        background-color: transparent;
        bordeR: none;
    }

    input[type="text"]:focus {
        outline: none;
    }

    picture {
        position: relative;
    }
}

@media {    
    .component {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
    }
    
    .component:not(.active) {
        display: none;
    }
}