@media {
    .component-blob {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

/*HEADER*/
@media {
    .component-blob .header-code {
        background: aliceblue;
        background: #1a1a1a;
        border-bottom: 1px solid #666;
        box-sizing: border-box;
        display: flex;
        /* padding: 10px; */
        position: relative;
        width: 100%;
        z-index: 12345;
    }

    .component-blob .header-code > section {
        align-items: center;
        display: flex;
        flex: 1;
        /* gap: 10px; */
    }
    
    .component-blob .header-code .code-file > section {
        display: flex;
        gap: 5px;
    }  
    
    .component-blob .header-code .file-menu > section i {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: Center;
        width: 50px;
    }   
    
    .component-blob .header-code .file-meta {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .component-blob .header-code .file-meta > section {
        flex-direction: column;
    }   
    
    .component-blob .header-code .file-meta .meta-title {
        font-weight: bolder;
    }
    
    .component-blob .header-code .file-meta .meta-owner {
        font-size: 14px;
    }
    
    .component-blob .header-code .code-buttons {
        margin-left: auto;
    }
    
    .component-blob .header-code .buttons-group > section {
        display: flex;
        gap: 5px;
    }  
    
    .component-blob .header-code .buttons-group > section i {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: Center;
        width: 50px;
    }

    .component-blob .header-code .code-authenticate .authenticate-avatar {
        align-items: center;
        height: 50px;
        justify-content: center;
        width: 50px;
    }

    .component-blob .header-code .code-authenticate .authenticate-avatar .avatar-image {
        align-items: center;
        background: #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 30px;
        width: 30px;
    }

    .component-blob .header-code .code-authenticate .authenticate-avatar .avatar-image img {
        filter: invert(1);
        height: 75%;
        margin: auto auto 0;
        width: 75%;
    }
}

/*ASIDE*/
@media {
    .component-blob .aside-code {
        background: #292a2d;
        height: 100%;
        width: 400px;
    }
}

/*BLOCK*/
@media {
    .component-blob .block-code {
        display: inline-flex;
        flex: 1;
        height: 100%;
        /* width: 100%; */
    }
}