@media {
    .header-explorer .navigate-brand > section {
        align-items: center;
        display: flex;
        gap: 5px;
        padding: 0 20px;
    }
    
    .header-explorer .navigate-brand i {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 20px;
    }
    
    .header-explorer .navigate-brand font {
        font-size: 18px;
        font-weight: bolder;
    }
}